html {
  width: 1000px;
  max-width: 100;
  margin: 0 auto;
}


body {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./sw-bg.jpg');
  background-size: cover;
  background-attachment: fixed; 
  margin: 0 auto;
}
